{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left: 5%">
    <h1>Upload new game image</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back</a>
        </li>
    </ul>
    </div>
{% endblock %}
